html {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.65rem;
  color: #000; }

a {
  color: #000; }
  a:hover {
    color: orange; }

.g-hd, .g-hds {
  width: 100%;
  height: 1.95rem;
  background: #1a1a1a;
  position: relative;
  border-bottom: 0.05rem solid #bdbdbd; }
  .g-hd .btn-close, .g-hds .btn-close {
    position: absolute;
    left: 0.35rem;
    top: 0.625rem;
    width: 0.825rem;
    height: 0.825rem;
    background: url(../images/icon-close.png) no-repeat;
    background-size: contain; }
  .g-hd .btn-back, .g-hds .btn-back {
    position: absolute;
    left: 0.9rem;
    top: 0.65rem;
    width: 0.95rem;
    height: 0.8rem;
    background: url(../images/icon-back.png) no-repeat; }
  .g-hd .g-sch, .g-hds .g-sch {
    margin: 0 auto;
    width: 10.65rem;
    height: 1.85rem;
    padding-top: 0.3rem; }
    .g-hd .g-sch .m-sch, .g-hds .g-sch .m-sch {
      width: 10.65rem;
      height: 1.35rem;
      background: #f2f2f2;
      border-radius: 0.675rem;
      position: relative; }
      .g-hd .g-sch .m-sch .icon-sch, .g-hds .g-sch .m-sch .icon-sch {
        float: left;
        margin: 0.3rem 0.25rem 0 0.65rem;
        width: 0.725rem;
        height: 0.725rem;
        background: url(../images/icon-sch.png) no-repeat;
        background-size: contain; }
      .g-hd .g-sch .m-sch input, .g-hds .g-sch .m-sch input {
        float: left;
        border: none;
        color: #1a1a1a;
        background: none;
        width: 7.5rem;
        height: 1.35rem;
        line-height: 1.35rem;
        font-size: 0.65rem; }
      .g-hd .g-sch .m-sch .btn-sch-close, .g-hds .g-sch .m-sch .btn-sch-close {
        display: none;
        float: left;
        width: 1.35rem;
        height: 1.35rem; }
      .g-hd .g-sch .m-sch .icon-sch-close, .g-hds .g-sch .m-sch .icon-sch-close {
        display: inline-block;
        margin: 0.275rem;
        width: 0.8rem;
        height: 0.8rem;
        background: url(../images/icon-sch-close.png) no-repeat;
        background-size: contain; }

.g-bd {
  position: relative; }
  .g-bd .m-country-tab1, .g-bd .m-country-tab2 {
    width: 100%;
    overflow: hidden; }
    .g-bd .m-country-tab1 .m-tab, .g-bd .m-country-tab2 .m-tab {
      width: 50%;
      float: left;
      overflow: hidden; }
      .g-bd .m-country-tab1 .m-tab a, .g-bd .m-country-tab2 .m-tab a {
        float: left;
        width: 100%;
        font-size: 0.75rem;
        line-height: 1.75rem;
        text-align: center; }
    .g-bd .m-country-tab1 .tab-active a, .g-bd .m-country-tab2 .tab-active a {
      border-bottom: 0.2rem solid #C6A557; }
  .g-bd .m-country-tab1 {
    background: #1a1a1a; }
    .g-bd .m-country-tab1 a {
      color: #fff;
      border-bottom: 0.2rem solid #fff; }
  .g-bd .m-city-list {
    width: 100%; }
    .g-bd .m-city-list a {
      display: block;
      position: relative;
      height: 7.05rem;
      border-bottom: 0.05rem solid #bbb5b7; }
      .g-bd .m-city-list a img {
        width: 100%;
        height: 7.05rem; }
      .g-bd .m-city-list a p {
        position: absolute;
        top: 3.05rem;
        left: 6.25rem; }
        .g-bd .m-city-list a p i {
          display: inline-block;
          width: 0.475rem;
          height: 0.675rem;
          background: url(../images/icon-map.png) no-repeat;
          background-size: contain; }
        .g-bd .m-city-list a p span {
          display: inline-block;
          height: 1.25rem;
          line-height: 1.25rem;
          font-size: 1.05rem;
          color: #fff; }
  .g-bd .m-country-tab2 {
    background: #f2f2f2; }
    .g-bd .m-country-tab2 a {
      color: #1a1a1a;
      border-bottom: 0.2rem solid #1a1a1a; }
  .g-bd .m-tab-con {
    background: #fff; }
    .g-bd .m-tab-con .m-tab-con1 h2, .g-bd .m-tab-con .m-tab-con2 h2 {
      height: 1.75rem;
      line-height: 1.75rem;
      font-size: 0.65rem;
      text-indent: 1.75rem;
      color: #1a1a1a;
      overflow: hidden; }
    .g-bd .m-tab-con .m-tab-con1 .m-hot-list, .g-bd .m-tab-con .m-tab-con2 .m-hot-list {
      overflow: hidden;
      padding: 0 1.5rem; }
      .g-bd .m-tab-con .m-tab-con1 .m-hot-list li, .g-bd .m-tab-con .m-tab-con2 .m-hot-list li {
        float: left;
        margin-right: 0.25rem;
        margin-bottom: 0.3rem; }
      .g-bd .m-tab-con .m-tab-con1 .m-hot-list a, .g-bd .m-tab-con .m-tab-con2 .m-hot-list a {
        float: left;
        width: 4.05rem;
        height: 1.2rem;
        line-height: 1.2rem;
        text-align: center;
        border-radius: 0.25rem;
        background: #e6e6e6;
        font-size: 0.6rem; }
    .g-bd .m-tab-con .m-tab-con1 {
      background: #f2f2f2; }
  .g-bd .m-mask {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: 990; }
  .g-bd .tab-nav {
    position: relative;
    z-index: 991;
    width: 100%;
    background: #1a1a1a;
    overflow: hidden; }
    .g-bd .tab-nav li {
      float: left;
      width: 25%; }
    .g-bd .tab-nav .current {
      background: #c6a557; }
    .g-bd .tab-nav a {
      width: 100%;
      margin: 0 auto;
      float: left;
      height: 1.65rem;
      line-height: 1.65rem;
      text-align: center; }
    .g-bd .tab-nav span {
      font-size: 0.6rem;
      color: #fff; }
    .g-bd .tab-nav i {
      margin-left: 0.25rem;
      margin-bottom: 0.1rem;
      display: inline-block;
      width: 0.35rem;
      height: 0.225rem;
      background: url(../images/icon-arrow-down.png) no-repeat;
      background-size: contain; }
  .g-bd .tab-con-list {
    position: absolute;
    top: 1.65rem;
    left: 0;
    z-index: 992; }
    .g-bd .tab-con-list .tab-con {
      display: none; }
    .g-bd .tab-con-list .m-filter-sort {
      overflow: hidden;
      padding: 1.15rem 1rem;
      background: #e6e6e6; }
      .g-bd .tab-con-list .m-filter-sort li {
        float: left;
        margin: 0 auto;
        margin-bottom: 0.5rem; }
      .g-bd .tab-con-list .m-filter-sort a {
        float: left;
        font-size: 0.6rem;
        height: 1.2rem;
        line-height: 1.2rem;
        padding: 0 0.6rem;
        border: 0.05rem solid #000;
        border-radius: 0.6rem;
        margin-left: 0.5rem;
        background: #fff; }
      .g-bd .tab-con-list .m-filter-sort a.current {
        background: #c6a557;
        color: #fff; }
    .g-bd .tab-con-list #j_filter_group {
      display: none;
      background: #e6e6e6; }
      .g-bd .tab-con-list #j_filter_group h3 {
        font-size: 0.7rem;
        text-indent: 1rem;
        height: 1.7rem;
        line-height: 1.7rem;
        color: #c6a557; }
      .g-bd .tab-con-list #j_filter_group .m-filter-sort {
        padding: 0.75rem 1rem; }
  .g-bd .m-restaurant-list {
    width: 100%; }
    .g-bd .m-restaurant-list .m-restaurant {
      overflow: hidden;
      padding: 0.55rem 0.25rem; }
    .g-bd .m-restaurant-list .m-restaurant-img {
      float: left;
      width: 3rem;
      height: 3rem;
      background: #000;
      margin-right: 0.35rem; }
      .g-bd .m-restaurant-list .m-restaurant-img img {
        width: 3rem;
        height: 3rem; }
    .g-bd .m-restaurant-list .m-restaurant-text {
      float: left; }
      .g-bd .m-restaurant-list .m-restaurant-text .m-restaurant-tit {
        height: 1.05rem;
        line-height: 1.05rem;
        font-size: 0.75rem; }
      .g-bd .m-restaurant-list .m-restaurant-text .m-restaurant-region {
        height: 0.6rem;
        line-height: 0.6rem;
        font-size: 0.5rem; }
      .g-bd .m-restaurant-list .m-restaurant-text .m-restaurant-price {
        height: 0.9rem;
        line-height: 0.9rem;
        font-size: 0.5rem; }
    .g-bd .m-restaurant-list .m-restaurant-evaluate {
      float: right;
      position: relative;
      width: 3rem;
      height: 3rem; }
      .g-bd .m-restaurant-list .m-restaurant-evaluate img {
        width: 3rem;
        height: 3rem; }
      .g-bd .m-restaurant-list .m-restaurant-evaluate .m-evaluate-con {
        position: absolute;
        top: 0.6rem;
        left: 0.875rem; }
        .g-bd .m-restaurant-list .m-restaurant-evaluate .m-evaluate-con h4 {
          font-size: 0.45rem;
          height: 0.6rem;
          line-height: 0.6rem; }
        .g-bd .m-restaurant-list .m-restaurant-evaluate .m-evaluate-con .m-evaluate-ratio {
          font-size: 0.5rem;
          height: 0.65rem;
          line-height: 0.65rem; }
        .g-bd .m-restaurant-list .m-restaurant-evaluate .m-evaluate-con .m-evaluate-votes {
          font-size: 0.4rem;
          height: 0.55rem;
          line-height: 0.55rem; }

.g-hds {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 993; }

.g-bds {
  margin-top: 2rem; }

.m-mask-bd {
  display: none;
  position: absolute;
  left: 0;
  top: 2rem;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 992;
  overflow: auto;
  padding-bottom: 0.25rem; }
  .m-mask-bd li {
    height: 1rem;
    line-height: 1rem;
    padding: 0.125rem 0.25rem; }
    .m-mask-bd li .icon-schs {
      float: left;
      margin-top: 0.125rem;
      margin-right: 0.25rem;
      width: 0.75rem;
      height: 0.75rem;
      background: url(../images/icon-sch.png) no-repeat;
      background-size: contain; }
    .m-mask-bd li .u-restaurant-name {
      float: left;
      font-size: 0.6rem; }
    .m-mask-bd li .u-sch-count {
      float: right;
      font-size: 0.45rem;
      color: #a1a1a1; }

#restaurant_list {
  display: none; }

.m-loading {
  margin: 0 auto;
  width: 3.1rem;
  height: 2.9rem; }

.g-logings {
  width: 100%;
  height: 100%;
  background: url(../images/bg-login-640.jpg) no-repeat;
  background-size: contain; }

.btn-close-login {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 0.8rem;
  height: 0.8rem;
  background: url(../images/icon-close-login.png) no-repeat;
  background-size: contain; }

.m-login-mask {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8; }

.m-logo img {
  margin: 2.8rem 5rem 4.2rem 5rem;
  width: 6rem;
  height: 8rem; }

.m-logins {
  margin: 0 auto;
  width: 7.9rem; }
  .m-logins .btn-login {
    display: block;
    width: 7.9rem;
    height: 2.1rem;
    line-height: 2.1rem;
    color: #fff;
    text-align: center;
    border: 0.125rem solid #fff;
    border-radius: 1.05rem;
    margin-bottom: 0.8rem; }
  .m-logins .icon-phone {
    float: left;
    margin: 0.45rem 1rem 0 2.35rem;
    width: 0.7rem;
    height: 1.2rem;
    background: url(../images/icon-phone-login.png) no-repeat;
    background-size: contain; }
  .m-logins .icon-wechat {
    float: left;
    margin: 0.4rem 0.55rem 0 2rem;
    width: 1.5rem;
    height: 1.25rem;
    background: url(../images/icon-wechat.png) no-repeat;
    background-size: contain; }
  .m-logins span {
    float: left;
    color: #fff;
    font-size: 0.7rem; }

.g-hd-plogin {
  width: 100%;
  height: 1.35rem;
  padding: 0.25rem 0;
  background: #1A1A1A;
  position: relative; }
  .g-hd-plogin .m-logos {
    width: 3.35rem;
    height: 1.35rem;
    margin: 0 auto; }
    .g-hd-plogin .m-logos img {
      width: 3.35rem;
      height: 1.35rem; }
  .g-hd-plogin .btn-setting {
    position: absolute;
    right: 0.5rem;
    top: 0.375rem;
    width: 1.1rem;
    height: 1.1rem;
    background: url(../images/icon-setting.png) no-repeat;
    background-size: contain;
    text-indent: -9999px; }

.g-bd-plogin {
  background: #f2f2f2; }
  .g-bd-plogin .m-plogin {
    padding: 0 1.375rem;
    overflow: hidden;
    padding-bottom: 14.35rem; }
    .g-bd-plogin .m-plogin .m-plogin-tit {
      font-size: 0.75rem;
      text-align: center;
      line-height: 3.75rem;
      margin-top: 2.2rem;
      font-weight: bold; }
    .g-bd-plogin .m-plogin input {
      float: left;
      height: 1.35rem;
      line-height: 1.35rem;
      border: 0.125rem solid #ddd;
      font-size: 0.55rem;
      border-radius: 0.25rem; }
    .g-bd-plogin .m-plogin .m-plogin-ipt {
      overflow: hidden; }
      .g-bd-plogin .m-plogin .m-plogin-ipt .ipt-code {
        width: 2.85rem;
        margin-right: 0.5rem;
        text-indent: 1rem; }
      .g-bd-plogin .m-plogin .m-plogin-ipt .ipt-pnumber {
        width: 9.4rem;
        text-indent: 0.75rem; }
    .g-bd-plogin .m-plogin button {
      float: left;
      border: none;
      border-radius: 0.25rem;
      height: 1.6rem;
      line-height: 1.6rem;
      text-align: center;
      background: #c8a05a; }
    .g-bd-plogin .m-plogin .m-plogin-verification {
      overflow: hidden;
      margin: 0.5rem 0; }
      .g-bd-plogin .m-plogin .m-plogin-verification .ipt-verification {
        text-indent: 0.9rem;
        margin-right: 0.5rem;
        width: 8.6rem; }
      .g-bd-plogin .m-plogin .m-plogin-verification .btn-verification {
        width: 3.9rem;
        font-size: 0.55rem; }
    .g-bd-plogin .m-plogin .btn-next {
      margin-left: 2.05rem;
      width: 9.15rem;
      font-size: 0.6rem; }

.g-ft-plogin .g-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1a1a1a;
  border-top: 0.025rem solid #656565; }
  .g-ft-plogin .g-nav .m-nav {
    overflow: hidden; }
    .g-ft-plogin .g-nav .m-nav li {
      float: left;
      width: 25%;
      padding: 0.35rem 0; }
      .g-ft-plogin .g-nav .m-nav li a {
        display: block;
        width: 2.5rem;
        margin: 0 auto;
        text-align: center; }
      .g-ft-plogin .g-nav .m-nav li i {
        display: block;
        margin-left: 0.8rem;
        margin-bottom: 0.25rem;
        height: 0.95rem; }
      .g-ft-plogin .g-nav .m-nav li .ico-nav-home {
        width: 0.9rem;
        background: url(../images/ico-nav-home.png) no-repeat;
        background-size: contain; }
      .g-ft-plogin .g-nav .m-nav li .ico-nav-ordered {
        width: 1.075rem;
        margin-left: 0.7125rem;
        background: url(../images/ico-nav-ordered.png) no-repeat;
        background-size: contain; }
      .g-ft-plogin .g-nav .m-nav li .ico-nav-search {
        width: 0.925rem;
        margin-left: 0.7875rem;
        background: url(../images/ico-nav-search.png) no-repeat;
        background-size: contain; }
      .g-ft-plogin .g-nav .m-nav li .ico-nav-my {
        width: 1rem;
        height: 1.025rem;
        margin-left: 0.75rem;
        margin-bottom: 0.2rem;
        background: url(../images/ico-nav-my.png) no-repeat;
        background-size: contain; }
      .g-ft-plogin .g-nav .m-nav li p {
        color: #fff;
        font-size: 0.6rem; }

/*# sourceMappingURL=changeCity.css.map */
