@charset "UTF-8";
/*scss常用函数和变量*/
/*rem 转换函数*/
/*常用字体色和背景色*/
/*基础全局样式*/
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

body {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 0.65rem;
  color: #1a1a1a; }

a {
  color: #1a1a1a; }
  a:hover {
    color: orange; }

.g-html {
  background: #fff; }

.g-html2 {
  background: #f2f2f2; }

.g-body {
  position: relative; }

/*全局图标*/
/*头部*/
.icon-back {
  width: 0.95rem;
  height: 0.8rem;
  background: url(../images/icon-back.png) no-repeat;
  background-size: contain; }

/*内容区*/
/*底部*/
/*默认状态*/
.ico-nav-home {
  width: 0.9rem;
  height: 1rem;
  background: url(../images/ico-nav-home.png) no-repeat;
  background-size: contain; }

.ico-nav-ordered {
  width: 1.1rem;
  height: 1rem;
  background: url(../images/ico-nav-ordered.png) no-repeat;
  background-size: contain; }

.ico-nav-search {
  width: 0.95rem;
  height: 1rem;
  background: url(../images/ico-nav-search.png) no-repeat;
  background-size: contain; }

.ico-nav-my {
  width: 1rem;
  height: 1rem;
  background: url(../images/ico-nav-my.png) no-repeat;
  background-size: contain; }

/*选中状态*/
.act .ico-nav-home {
  background: url(../images/icon-nav-home.png) no-repeat; }

.act .ico-nav-ordered {
  background: url(../images/icon-nav-ordered.png) no-repeat; }

.act .ico-nav-search {
  background: url(../images/icon-nav-search.png) no-repeat; }

.act .ico-nav-my {
  background: url(../images/icon-nav-my.png) no-repeat; }

/*主体全局样式*/
/*头部*/
.g-hd .icon-back {
  position: absolute;
  left: 0.9rem;
  top: 0.5rem; }
.g-hd .hd-tit {
  font-size: 0.75rem;
  color: #fff;
  text-align: center;
  line-height: 1.8rem;
  background: #1a1a1a; }

/*内容区*/
.g-date {
  /*padding: torem(24px) torem(40px);*/
  margin-bottom: 0.25rem;
  background: #fff;
  font-size: 0.75rem;
  position: relative; }
  .g-date label, .g-date i {
    position: absolute; }
  .g-date label {
    line-height: 1.8rem;
    top: 0;
    left: 40px; }
  .g-date input {
    text-indent: 3rem;
    width: 100%;
    height: 1.3rem;
    padding: 0.25rem 0;
    line-height: 1.3rem; }
  .g-date i {
    top: 0.65rem;
    right: 1rem;
    width: 0.3rem;
    height: 0.5rem;
    background: url(../images/icon-arrow-right2.png) no-repeat;
    background-size: contain; }

/*全局模块*/
.m-banner img {
  display: block;
  width: 100%;
  height: 7rem;
  background-size: contain; }

/*推荐榜*/
.m-restaurant-list1 {
  padding: 0 0.5rem; }
  .m-restaurant-list1 li {
    position: relative;
    margin-bottom: 0.25rem; }
  .m-restaurant-list1 .rt-img {
    display: block; }
    .m-restaurant-list1 .rt-img img {
      display: block;
      width: 10.25rem;
      height: 7rem;
      background-size: contain; }
  .m-restaurant-list1 .rt-info {
    position: absolute;
    right: 0;
    top: 0.45rem;
    width: 4.5rem;
    height: 5.05rem;
    padding: 0.75rem 0.7rem;
    background: url(../images/bg-recommed-r.png);
    background-size: contain; }
    .m-restaurant-list1 .rt-info p {
      font-size: 0.4rem;
      line-height: 0.6rem;
      color: #999; }
    .m-restaurant-list1 .rt-info .p1 {
      margin-top: 0.15rem;
      margin-bottom: 1.5rem;
      font-size: 0.45rem;
      line-height: 0.65rem;
      color: #000; }
  .m-restaurant-list1 .li-items-l .rt-info {
    left: 0;
    background: url(../images/bg-recommed-l.png);
    background-size: contain; }
    .m-restaurant-list1 .li-items-l .rt-info .rt-price {
      color: #c8a05a; }
  .m-restaurant-list1 .rt-address {
    float: left;
    width: 13.5rem;
    padding: 0.35rem 0.75rem;
    background: #1a1a1a; }
    .m-restaurant-list1 .rt-address a {
      display: block;
      overflow: hidden; }
    .m-restaurant-list1 .rt-address .icon-address {
      float: left;
      width: 0.55rem;
      height: 1.05rem;
      background: url(../images/icon-address.png) no-repeat;
      background-size: contain; }
    .m-restaurant-list1 .rt-address .icon-arrow-right2 {
      float: right;
      margin-top: 0.275rem;
      width: 0.3rem;
      height: 0.5rem;
      background: url(../images/icon-arrow-right2.png) no-repeat;
      background-size: contain; }
    .m-restaurant-list1 .rt-address p {
      width: 12.5rem;
      text-indent: 0.25rem;
      color: #fff; }
    .m-restaurant-list1 .rt-address em {
      display: block;
      font-size: 0.55rem; }
    .m-restaurant-list1 .rt-address span {
      display: block;
      font-size: 0.35rem; }

/*聚餐榜*/
.m-restaurant-list2 li {
  margin-bottom: 0.5rem;
  background: #fff; }
.m-restaurant-list2 .rt-img {
  position: relative;
  display: block; }
  .m-restaurant-list2 .rt-img img {
    width: 16rem;
    height: 9.25rem;
    background-size: contain; }
  .m-restaurant-list2 .rt-img p {
    position: absolute;
    top: 1.75rem;
    right: 0;
    width: 4.5rem;
    height: 5.7rem;
    padding: 0.4rem 0.75rem;
    color: #fff;
    font-size: 0.5rem;
    line-height: 0.7rem;
    text-indent: 2em;
    overflow: hidden;
    background: #000;
    opacity: 0.6; }
.m-restaurant-list2 .rt-info {
  padding: 0.2rem 0.75rem 0.5rem 0.75rem; }
  .m-restaurant-list2 .rt-info .rt-tit {
    font-size: 0.6rem;
    line-height: 0.9rem; }
  .m-restaurant-list2 .rt-info p {
    font-size: 0.55rem;
    line-height: 0.7rem;
    color: #999;
    overflow: hidden; }

/*局部模块*/
.g-banner {
  margin-bottom: 0.3rem; }

/*底部*/
.g-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1a1a1a;
  /*border-top: torem(2px) solid #656565;*/ }
  .g-nav .m-nav {
    overflow: hidden; }
    .g-nav .m-nav li {
      float: left;
      width: 25%; }
    .g-nav .m-nav a {
      float: left;
      width: 3.75rem;
      padding: 0.25rem 0;
      margin: 0 auto;
      text-align: center; }
    .g-nav .m-nav i {
      display: block;
      margin-left: 1.325rem;
      margin-bottom: 0.2rem;
      height: 1rem; }
    .g-nav .m-nav .ico-nav-home {
      margin-left: 1.425rem; }
    .g-nav .m-nav .ico-nav-search {
      margin-left: 1.4rem; }
    .g-nav .m-nav .ico-nav-my {
      margin-left: 1.375rem; }
    .g-nav .m-nav span {
      display: block;
      color: #fff;
      font-size: 0.45rem;
      line-height: 0.45rem; }

/*# sourceMappingURL=global.css.map */
