@charset "utf-8";

/*scss常用函数和变量*/

	/*rem 转换函数*/
		@function torem($px){
			@return $px / 40px * 1rem;
		}
	/*常用字体色和背景色*/
		$mcolor:#c8a05a;
		$fc1:#000;
		$bg1:#fff;
		$bg2:#f2f2f2;
		$bg3:#1a1a1a;


/*基础全局样式*/
	html{
		width: 100%;
		height: 100%;
		overflow-x: hidden;
	}

	body{
		font-family: Arial,Helvetica,sans-serif;
		font-size: torem(26px);
		color:#1a1a1a;
	}
	
	a{
		color:#1a1a1a;
		&:hover{
			color:orange;
		};
	}

	.g-html{
		background: #fff;
	}
	.g-html2{
		background:#f2f2f2;
	}
	.g-body{
		position: relative;
	}

	/*全局图标*/
		/*头部*/
		.icon-back{
			width: torem(38px);
			height: torem(32px);
			background:url(../images/icon-back.png) no-repeat;
			background-size: contain;
		}

		/*内容区*/
		.icon-arrow-right{

		}
		.icon-arrow-right2{

		}
		.icon-arrow-right3{

		}

		/*底部*/
			/*默认状态*/
				.ico-nav-home{
					width: torem(36px);
					height: torem(40px);
					background:url(../images/ico-nav-home.png) no-repeat;
					background-size: contain;
				}
				.ico-nav-ordered{
					width: torem(44px);
					height: torem(40px);
					background:url(../images/ico-nav-ordered.png) no-repeat;
					background-size: contain;
				}
				.ico-nav-search{
					width: torem(38px);
					height: torem(40px);
					background:url(../images/ico-nav-search.png) no-repeat;
					background-size: contain;
				}
				.ico-nav-my{
					width: torem(40px);
					height: torem(40px);
					background:url(../images/ico-nav-my.png) no-repeat;
					background-size: contain;
				}
			/*选中状态*/
				.act .ico-nav-home{
					background:url(../images/icon-nav-home.png) no-repeat;
				}
				.act .ico-nav-ordered{
					background:url(../images/icon-nav-ordered.png) no-repeat;
				}
				.act .ico-nav-search{
					background:url(../images/icon-nav-search.png) no-repeat;
				}
				.act .ico-nav-my{
					background:url(../images/icon-nav-my.png) no-repeat;
				}



/*主体全局样式*/
	/*头部*/
		.g-hd{			
			.icon-back{
				position: absolute;
				left:torem(36px);
				top: torem(20px);
			}
			.hd-tit{
				font-size:torem(30px) ;
				color:#fff;
				text-align: center;
				line-height: torem(72px);
				background:$bg3;
			}

		}
		

	/*内容区*/
		.g-bd{
			
		}
		
		.g-date{
			/*padding: torem(24px) torem(40px);*/
			margin-bottom: torem(10px);
			background:#fff;
			font-size: torem(30px);
			position: relative;
			label,i{
				position: absolute;
			}
			label{
				line-height: torem(72px);
				top:0;
				left:40px;
			}
			input{
				text-indent: torem(120px);
				width: 100%;
				height: torem(52px);
				padding: torem(10px) 0;
				line-height: torem(52px);
			}
			i{
				top:torem(26px);
				right:torem(40px);
				width: torem(12px);
				height: torem(20px);
				background:url(../images/icon-arrow-right2.png) no-repeat;
				background-size: contain;
			}
		}

		/*全局模块*/
		.m-banner{
			img{
				display: block;
				width: 100%;
				height: torem(280px);
				background-size: contain;
			}
		}
		/*推荐榜*/
		.m-restaurant-list1{
			padding:0 torem(20px); 

			li{
				position: relative;
				margin-bottom: torem(10px);
			}
			.rt-img{
				display: block;
				img{
					display: block;
					width: torem(410px);
					height: torem(280px);
					background-size: contain;
				}
			}
			
			.rt-info{
				position: absolute;
				right:0;
				top:torem(18px);
				width: torem(180px);
				height: torem(202px);
				padding: torem(30px) torem(28px);
				background: url(../images/bg-recommed-r.png);
				background-size: contain;

				p{
					font-size: torem(16px);
					line-height: torem(24px);
					color:#999;
					span{}
					em{}
				}
				.p1{
					margin-top: torem(6px);
					margin-bottom: torem(60px);
					font-size: torem(18px);
					line-height: torem(26px);
					color:#000;
				}
			}

			.li-items-l .rt-info{
				left:0;
				background: url(../images/bg-recommed-l.png);
				background-size: contain;
				.rt-price{
					color:$mcolor;
				}
			}

			.rt-address{
				float: left;
				width: torem(540px);
				padding: torem(14px) torem(30px);
				background:$bg3;
				a{
					display: block;
					overflow: hidden;
				}
				.icon-address{
					float: left;
					width: torem(22px);
					height: torem(42px);
					background:url(../images/icon-address.png) no-repeat;
					background-size: contain;
				}
				.icon-arrow-right2{
					float: right;
					margin-top: torem(11px);
					width: torem(12px);
					height: torem(20px);
					background:url(../images/icon-arrow-right2.png) no-repeat;
					background-size: contain;
				}
				p{
					width: torem(500px);
					text-indent: torem(10px);
					color:#fff;
				}
				em{
					display: block;
					font-size: torem(22px);
				}
				span{
					display: block;
					font-size: torem(14px);
				}
			}
			
		}
		
		/*聚餐榜*/
		.m-restaurant-list2{
			
			li{margin-bottom: torem(20px);background: #fff;}
			.rt-img{
				position: relative;
				display: block;
				img{
					width: torem(640px);
					height: torem(370px);
					background-size: contain;
				}
				p{
					position: absolute;
					top:torem(70px);
					right:0;
					width: torem(180px);
					height: torem(228px);
					padding: torem(16px) torem(30px);
					color:#fff;
					font-size: torem(20px);
					line-height: torem(28px);
					text-indent: 2em;
					overflow: hidden;
					background:#000;
					opacity: 0.6;
				}
			}
			.rt-info{
				padding: torem(8px) torem(30px) torem(20px) torem(30px);
				.rt-tit{
					font-size: torem(24px);
					line-height: torem(36px);
				}
				p{
					font-size: torem(22px);
					line-height: torem(28px);
					color:#999;
					overflow: hidden;
				}
			}

		}
		/*局部模块*/
		.g-bd-recommed{}
		.g-banner{
			margin-bottom: torem(12px);
		}




	/*底部*/
		.g-ft{}
	.g-nav{
	    position:fixed;
	    bottom:0;
	    left:0;
	    width: 100%;
	    background:#1a1a1a;
	    /*border-top: torem(2px) solid #656565;*/
	    
	    .m-nav{
	        overflow: hidden;    
	         
	        li{
	            float: left;
	            width: 25%;
	        }
	    	a{
	            float: left;
	            width: torem(150px);
	            padding: torem(10px) 0;
	            margin: 0 auto;
	            text-align: center;
	        }
	        
	        i{
	           	display: block;
	           	margin-left: torem(53px);
	           	margin-bottom: torem(8px);
	            height: torem(40px);  
	        }
	        
	        .ico-nav-home{
	            margin-left: torem(57px);   
	        }
	        .ico-nav-search{
	        	margin-left: torem(56px);
	        }
	        .ico-nav-my{
	        	margin-left: torem(55px);
	        }	        
	        
	        span{
	        	display: block;
	            color:#fff;
	            font-size: torem(18px);
	            line-height: torem(18px);
	        }
	    }
   	}